<!DOCTYPE HTML>
<html lang='de' xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/mycss.css">
    <title>SEA Kurs List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1.0">
    <script src="myscript.js" type="module"></script>
</head>
<body>
<header>
    <h2>Group SEA - Welle 4</h2>
</header>

<div class="person">
    <table class="table table-dark" align="center" id="tid001">
        <thead class="hideit" id="thid001">
        <tr>
            <th class="col1"><h5>ID</h5></th>
            <th class="col1"><h5>Version</h5></th>
            <th class="col1"><h5>Photo</h5></th>
            <th class="col1"><h5>Salutation</h5></th>
            <th class="col1"><h5>Name</h5></th>
            <th class="col1"><h5>Surname</h5></th>
            <th class="col1"><h5>Email</h5></th>
            <th class="col1"><h5>Birthday</h5></th>
        </tr>
        </thead>
        <tbody id="tbid001">
<!--        <tr th:each="Person:${personenList}">-->
<!--            <td class="col1" th:text="${Person.ID}"><h5>ID</h5></td>-->
<!--            //    <th class="col1"><h5>DB ID</h5></th>-->
<!--            <td class="col1" ><h5>Photo</h5></td>-->
<!--            <td class="col1" th:text="${Person.salutation}"><h5>Salutation</h5></td>-->
<!--            <td class="col1" th:text="${Person.name}"><h5>Name</h5></td>-->
<!--            <td class="col1"th:text="${Person.surname}"><h5>Surname</h5></td>-->
<!--            <td class="col1"th:text="${Person.email}"><h5>Email</h5></td>-->
<!--            <td class="col1"th:text="${Person.birthdate}"><h5>Birthday</h5></td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>
<hr>

<form action="images/joinus.png" align="center">
    <div class="container">

        <h1>Join us!</h1>

        <label for="salutation">Salutation</label><br>
        <select name="salutation" id="salutation">

            <option value="-">-</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="-">-</option>
        </select> <br>

        <label for="name">Name</label> <br>
        <input id="name" type="text" name="name" placeholder="Enter Your Name"> <br>

        <label for="surname">Surname</label> <br>
        <input id="surname" type="text" placeholder="Enter Your Surname" name="surname"> <br>

        <label for="email">E-Mail</label> <br>
        <input type="email" id="email" name="email" placeholder="Enter Your Email"> <br>

        <label for="birthdate">Birthday</label> <br>
        <input id="birthdate" type="date" placeholder="Enter Your birthday" name="birthdate"> <br>
        <label for="version">Version</label> <br>
        <input id="version" type="version" placeholder="Enter version" name="version"> <br>

        <label for="id0012">ID:</label> <br> <input id="id0012" type="text" placeholder="ID for UPDATE or DELETE"
                                                    name="id0012"><br>
        <br>
        <p>By joining us you agree to our <a href="#">Terms & Privacy</a>.</p>
        <input type="submit" id="button" value="Submit">
        <input type="submit" id="buttonremove" value="Delete">
        <input type="submit" id="buttonupdate" value="Update">
        <input type="submit" id="buttonclear" value="Clear the table">

        <br>
        <footer align="center">
            <img src="images/joinus.png" width="150" height="121">
        </footer>
        <hr>
    </div>
    </form>
</body>
</html>